* {
    font-family: Tahoma, sans-serif;
}
body{
  font-size: 150%;
  color: rgb(42, 42, 42);
  /* background-color: #1DB954; */
  background-color: #333333;
}
h1{
  margin: auto;
  text-align: center;
  padding: 10px;
}
h1 span{
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
}
/* Main element container */
.flex-col {
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-color: black;
  border-radius: 8px;
  background-color: #ddd;
  width: 50%;
  margin: 2em auto; 
  height: 60%;
}
.flex-col > div {
  margin: auto;
  padding: 8px;
  font-size: 30px;
}

/* Music container */
.flex-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-color: black;
  border-radius: 8px;
  background-color: #ddd;
  width: 50%;
  margin: 2em auto; 
}
.flex-container > div {
  margin: auto;
  padding: 8px;
  font-size: 30px;
}
.flex-container > div:nth-child(2n+1){
  clear:left
}

/* navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(47, 47, 47);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  /* background-color: #04AA6D; */
  background-color: #1DB954;
}

/* end navbar */
