  <!doctype html>
  <html>
      <head>
        <link rel="stylesheet" href="/static/style.css">
        {% if title %}
        <title>{{ title }} - Spotipy</title>
        {% else %}
        <title>Spotipy</title>
        {% endif %}

        <!-- Highlights active navbar page -->
        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script>
                $(function(){
                    $('a').each(function(){
                        if ($(this).prop('href') == window.location.href) {
                            $(this).addClass('active'); $(this).parents('li').addClass('active');
                        }
                    });
                });
            </script>
      </head>

      <body>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('upload') }}">Upload</a></li>
            <li><a href="/music">Music</a></li>
            {% if current_user.is_anonymous %}
            <li style="float: right;"><a href="/login">Login</a></li>
            {% else %}
            <li style="float: right;"><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </body>
  </html>