<head>
    <meta charset="UTF-8" />
    <title>Spotipy</title>
</head>

{% extends "base.html" %}

{% block content %}
<h1>
  <span>Enter spotify song, album, or playlist URL.</span>
</h1>
<hr>
<div class="flex-col">
  <div>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
          {{ form.spoturl.label }}  <br>
          {{ form.spoturl }}        <br>
      </p>
      <p> {{ form.submit() }} </p>
    </form>
  </div>
</div>

</body>
{% endblock %}
