<head>
    <meta charset="UTF-8" />
    <title>Music</title>
</head>

    {% extends "base.html" %}

    {% block content %}
        <body>
            <h1>
                <span>Music Database</span>
            </h1>
            <hr>
            <div class="flex-container">
                {% for file in files %}
                {% if file !="music.zip" %}
                <a href="{{ url_for('download', filename=file) }}">{{ file }}</a>
                <br>
                {% endif %}
                {% endfor %}
            </div>
            
        </body>
    {% endblock %}
